extends ../layout.pug

block content
  div(class='breadcrumb')
    div= title
  div.list-group
  

  div.list-group-item
     a(href='/passenger') Passengers
  div.list-group-item
     a(href='/ticket') Tickets
  div.list-group-item
     a(href='/train') Trains
  div.list-group-item
     a(href='/sold_tickets') Sold Tickets
