extends ../layout.pug

block prepend styles
    link(rel='stylesheet' href='//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css')

block content
    div(class='breadcrumb')
        li= title
    form(id='drop-form' name='drop-form' class='form-inline' action='')
        div(class='form-group')
            div(class='col-md-12')
                button(type='submit' class='btn btn-primary') Drop
    form(id='delete-form' name='delete-form' class='form-inline' action='')
        div(class='form-group')
            div(class='col-md-3')
                label(for='Id_id') Id
            div(class='col-md-9')
                input(id='Id_id' name='Id_name' value='' class='form-control')
        div(class='form-group')
            div(class='col-md-12')
                button(type='submit' class='btn btn-primary') Delete
    form(id='edit-form' name='edit-form' class='form-inline' action='')
        div(class='form-group')
            div(class='col-md-3')
                label(for='train') Train
            div(class='col-md-9')
                input(id='train' name='train' value='' class='form-control')
        div(class='form-group')
            div(class='col-md-3')
                label(for='Id_name') Id
            div(class='col-md-9')
                input(id='Id_name' name='Id_name' value='' class='form-control')
        div(class='form-group')
            div(class='col-md-12')
                button(type='submit' class='btn btn-primary') Edit
    form(id='shop-add-form' name='shop-add-form' class='form-inline' action='')
        div(class='form-group')
            div(class='col-md-3')
                label(for='ticket_c') Ticket
            div(class='col-md-9')
                input(id='ticket_c' name='ticket' value='' class='form-control')
        div(class='form-group')
            div(class='col-md-3')
                label(for='passenger_c') Passenger
            div(class='col-md-9')
                input(id='passenger_c' name='passenger' value='' class='form-control')
        div(class='form-group')
            div(class='col-md-12')
                button(type='submit' class='btn btn-primary') Create
        div.list-wrapper
    table(id='sold-list')
    form(id='report-form' name='report-form' class='form-inline' action='')
        div(class='form-group')
            div(class='col-md-12')
                button(type='submit' class='btn btn-primary') Report sold tickets for a train
    form(id='report2-form' name='report-form' class='form-inline' action='')
        div(class='form-group')
            div(class='col-md-12')
                button(type='submit' class='btn btn-primary') Report route with most profit

block append scripts
    script(src='/static/js/models/sold_tickets.js')
    script(src='//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js')
    script(src='/static/js/views/sold_tickets.js')
